.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
    background-color: #F2F2F2;
}


@media screen and (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        max-width: 320px;
    }
    
}