.place__title {
  margin: 58px 0 0 64px;
  padding: 0;
  grid-area: title;
  font-size: 30px;
}

@media screen and (max-width: 1279px) {
  .place__title {
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    margin: 20px 0 0 15px; 
    font-size: 18px;
  }
}