.place__text {
  margin: 0 172px 75px 60px;
  padding: 0;
  grid-area: text;
  font-size: 12px;
  line-height: 150%;
}

.place__text:first-of-type {
  margin: 0 184px 75px 60px;
}

@media screen and (max-width: 1279px) {
  .place__text {
    margin: 0 120px 50px 45px;
  }

  .place__text:first-of-type {
    margin: 0 125px 50px 45px;
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    margin: 0 70px 10px 25px;
  }

  .place__text:first-of-type {
    margin: 0 75px 10px 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    margin: 30px 0 0 10px;
    font-size: 12px;
  }

  .place__text:first-of-type {
    margin: 30px 0 0 10px;
  }
}