.people {
    width: calc(100% - 2*60px);
    margin: 110px auto 120px;
}

@media screen and (max-width: 767px) {
    .people {
        width: calc(100% - 2*20px);
        max-width: 320px;
        margin-top: 40px;
    }
    
}