.people {
    width: calc(100% - 2*60px);
    max-width: 994px;
    margin: auto;
    margin-top: 110px;
}

@media screen and (max-width: 767px) {
    .people {
        width: calc(100% - 2*40px);
        max-width: 320px;
    }
    
}